<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Columns</title>
    <link rel="stylesheet" href="../css/gridline.css">
</head>
<style>
.col-1, .col-2, .col-3, .col-4, .col-5,
.col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    background: pink;
    height: 100px;
    border-right: 0.5px solid;
}
</style>
<body>
    <div class="grid-wrap">
        <div class="line-row">

            <div class="col-1">Col 1</div>
            <div class="col-11">Col 11</div>

            <div class="col-2">Col 2</div>
            <div class="col-10">Col 10</div>

            <div class="col-3">Col 3</div>
            <div class="col-9">Col 9</div>

            <div class="col-4">Col 4</div>
            <div class="col-8">Col 8</div>

            <div class="col-5">Col 5</div>
            <div class="col-7">Col 7</div>

            <div class="col-6">Col 6</div>
            <div class="col-6">Col 6</div>

            <div class="col-7">Col 7</div>
            <div class="col-5">Col 5</div>

            <div class="col-8">Col 8</div>
            <div class="col-4">Col 4</div>

            <div class="col-9">Col 9</div>
            <div class="col-3">Col 3</div>

            <div class="col-10">Col 10</div>
            <div class="col-2">Col 2</div>
            
            <div class="col-11">Col 11</div>
            <div class="col-1">Col 1</div>
            
            <div class="col-12">Col 12</div>

        </div>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/gridline.js"></script>
</body>
</html>