<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <link rel="stylesheet" href="../css/gridline.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>

<body>
    <div class="grid-wrap">
        <div class="line-row">

            <form method="">
                <div class="form-field">
                    <label for="name">Ваше имя</label>
                    <input type="text" id="name" placeholder="Имя">
                </div>
                <div class="form-field">
                    <label for="phone-number">Ваш телефон</label>
                    <input type="text" id="phoneNumber" placeholder="+7(___)___-__-__" value="">
                </div>
                <div class="form-field">
                    <label for="checkIinput" class="check-label">
                        <input type="checkbox" id="checkIinput" class="check-input">
                        <span class="check-mark"></span>
                        <p>Входить автоматически</p>
                    </label>
                </div>
                <button type="submit" class="btn">Регистрация</button>
            </form>

        </div>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/gridline.js"></script>
</body>

</html>