<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Optional</title>
    <link rel="stylesheet" href="../css/gridline.css">
</head>

<body>
    <div class="grid-wrap">
        <div class="line-row">

            <!------Навигация------->
            <ul class="nav-grid">
                <li><a href="">Ссылка 1</a></li>
                <li><a href="">Ссылка 2</a></li>
                <li><a href="">Ссылка 3</a></li>
                <li><a id="load" href="">Ссылка 4</a></li>
            </ul>
            <nav class="nav-grid">
                <ul>
                    <li><a href="">Ссылка 1</a></li>
                    <li><a href="">Ссылка 2</a></li>
                    <li><a href="">Ссылка 3</a></li>
                    <li><a id="load" href="">Ссылка 4</a></li>
                </ul>
            </nav>
            <!------Кнопка------->
            <button class="btn">Кнопка</button>
            <a href="" class="btn-link">кнопка ссылка</a>

        </div>
    </div>

    
    <script src="../js/jquery.js"></script>
    <script src="../js/gridline.js"></script>
</body>
</html>