<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tables</title>
    <link rel="stylesheet" href="../css/gridline.css">
</head>

<body>
    <div class="grid-wrap">
        <div class="line-row">
            <table class="table">
                <caption>Таблица 2</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Birth date</th>

                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-row">
                        <th>1</th>
                        <td>Nikolay</td>
                        <td>01.01.2020</td>

                        <td>Man</td>
                    </tr>
                    <tr class="table-row">
                        <th>2</th>
                        <td>Maria</td>
                        <td>01.01.2020</td>

                        <td>Woman</td>
                    </tr>
                    <tr class="table-row">
                        <th>3</th>
                        <td>Alexander</td>
                        <td>01.01.2020</td>

                        <td>Man</td>
                    </tr>
                    <tr class="table-row">
                        <th>4</th>
                        <td>Olga</td>
                        <td>01.01.2020</td>
                        <td>Woman</td>
                    </tr>
                    <tr class="table-row">
                        <th>5</th>
                        <td>Vladimir</td>
                        <td>01.01.2020</td>
                        <td>Man</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/gridline.js"></script>

</body>

</html>